.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  padding: 20px;
  background-color: black;
}

.footer p {
  margin-top: 20px;
}
